#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# http://nette.org/security-warning
#
common:
	php:
		date.timezone: Europe/Prague

	services:
		robotLoader:
			run: true
			
	const:
		APP_DIR: %appDir%

production < common:

development < common:
