#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning
#
php:
	date.timezone: Europe/Prague

application:
	mapping:
		*: DemoApp\Module\*\Presenters\*Presenter
