#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# http://nette.org/security-warning
#
common:
	php:
		date.timezone: Europe/Prague

	service:
		Nette\Loaders\RobotLoader:
			option:
				directory: [%appDir%]
			run: true

production < common:

development < common:
