<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{#title|striptags|trim}Homepage{/#} | Nette Framework Micro-blog example</title>
	<link rel="stylesheet" media="screen" href="{$basePath}/style.css" />
</head>

<body>
	<h1>My Blog</h1>

	{include #content}

	<p class="footer">This is a <a href="http://nette.org">Nette Framework</a> example.</p>
</body>
</html>
