{#content}
<h1 n:block="title">My Albums</h1>

<p><a n:href="add">Add new album</a></p>

<table class="grid">
<tr>
	<th>Title</th>
	<th>Artist</th>
	<th>&nbsp;</th>
</tr>

{foreach $albums as $album}
<tr>
	<td>{$album->title}</td>
	<td>{$album->artist}</td>
	<td>
		<a n:href="edit, $album->id">Edit</a>
		<a n:href="delete, $album->id">Delete</a>
	</td>
</tr>
{/foreach}
</table>
