{layout ../@layout.latte}

{block #head}
    <link rel="stylesheet" href="{$basePath}/dist/admin.bundle.css">
{/block}

{block #scripts}
    <script src="{$basePath}/dist/admin.bundle.js"></script>
{/block}
