{#content}
<ul>
	<li><a n:href="default"><code>default</code></a> - link to view <code>default</code> in current presenter</li>
	<li><a n:href="CatalogList:"><code>CatalogList:</code></a> - link to presenter <code>CatalogList</code> in current module (view <code>default</code>)</li>
</ul>
