#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning
#
php:
	date.timezone: Europe/Prague

application:
	mapping:
		*: App\*Module\Presenters\*Presenter

database:
	dsn: "sqlite:%appDir%/Model/demo.db3"

services:
	- App\Model\Authenticator
	- App\Model\AlbumRepository
