#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning
#
php:
	date.timezone: Europe/Prague

application:
	scanDirs: no

database:
	dsn: 'sqlite:%appDir%/data/blog.db3'
	conventions: static
